#IFrame1 {
	width: 15vw;
	height: 100vh;
}

#IFrame2 {
	width: 80vw;
	height: 100vh;
}

#Kontakt {
	position: absolute;
	top: 4em;
	left: 2em;
	margin-left: 0em;
	font: normal 120% Berlin Sans FB;
	color: #000000;
}

#Links {
	position: absolute;
	top: 1em;
	left: 3em;
}

#Linie_H1 {
	position: absolute;
	top: 0em;
	left: 1em;
}

#Linie_H2 {
	position: absolute;
	top: 28em;
	left: 1em;
}

#Inhalt_1 {
	height: 100vh;
	position: relative;
	margin-top: 0em;
	margin-left: 0em;
	background-color: #ffffff;
}

#Inhalt_2 {
	position: relative;
	background-color: #7a501b;
}

#Navigation {
	position: absolute;
	top: 10em;
	left: 5em;
	font: normal 60% Berlin Sans FB;
}

#Navigation a:link {
	font: normal 100% Berlin Sans FB;
	color: #ffffff;
}
#Navigation a:visited {
	font: normal 100% Berlin Sans FB;
	color: #f5f6ce;
}
#Navigation a:hover {
	font: normal 100% Berlin Sans FB;
	color: #888888;
}
#Navigation a:active {
	font: normal 100% Berlin Sans FB;
	color: #ffffff;
}

a:link {
	font: normal 100% Berlin Sans FB;
	color: #7a501b;
}
a:visited {
	font: normal 100% Berlin Sans FB;
	color: #7a501b;
}
a:hover {
	font: normal 100% Berlin Sans FB;
	color: #cc8b3c;
}
a:active {
	font: normal 100% Berlin Sans FB;
	color: #ffff00;
}

h1 {
	font: normal 140% Berlin Sans FB;
	color: #000000;
	left: 5em;
}

h2 {
	font: normal 120% Berlin Sans FB;
	color: #000000;
	left: 5em;
}

h3 {
	font: normal 110% Berlin Sans FB;
	color: #000000;
	left: 5em;
}

h {
	font: normal 100% Berlin Sans FB;
	color: #f5f6ce;
}

ol {
	font: normal 100% Berlin Sans FB;
	color: #f5f6ce;
}

.img_w_100 {
	width: 100%;
	padding: 10px;
}

.img_w_50 {
	width: 50%;
	padding: 10px;
}

#file_container_3e {
	display: flex;
	flex-direction: column;
}

.flex {
	display: flex;
	flex-direction: column;
}

.flex-row {
	display: flex;
}

.flex-col-evenly {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.card-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.data-table {
	border-collapse: collapse;
	border: 2px solid black;
	letter-spacing: 1px;
	font-family: sans-serif;
	font-size: 0.8rem;
}

th,
.td-border {
	border: 1px solid black;
	padding: 5px 10px;
}
